body{
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
    height:100%;
}

.okok{
    background-color: whitesmoke;
    height: 400px;
    border: solid black 1pt; 
}
.centered{
    text-align: center;
}
img.centered{
    text-align:center;
    margin:auto;
    display:flex;
}

button.centered{
    text-align:center;
    margin:auto;
    display:flex;
}

.oui{
    margin-left: 5%;
    margin-right: 5%;
}